matplotlib
pandas==2.1.4
numpy
streamlit==1.42.2
sqlalchemy
psycopg2-binary
openpyxl
sqlalchemy-redshift
redshift_connector
pygwalker
flake8
streamlit-cookies-manager==0.2.0
st-theme==1.2.3
boto3
requests
altair
plotly
graphviz
datetime
atlassian-python-api
xlwt==1.3.0