[connections.redshift]
type = "sql"
url = "redshift+redshift_connector://<user>:<password>@<db_url>:5439/pax8dw?sslmode=prefer"

[auth]
app_password="app_password"

[auth0]
enabled = true
domain = "p8p-production.us.auth0.com"
client_id = "get the client id from another developer or the auth0 dashboard"
client_secret = "get the client secret from another developer or the auth0 dashboard"
callback_url = "http://localhost:8501/"
audience ="https://p8p-production.us.auth0.com/userinfo"
cookie_secret = "you can create any alphanumeric string for use in the auth0 cookie"

[jira]
username = "p8p-production"
password = "p8p-production"
url = "https://p8p-production.atlassian.net"
